body {
    font-family: Times New Roman;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark-mode {
    background-color: #333333;
    color: #ffffff;
  }
  
  .container {
    max-width: 300px;
    margin: 50px auto;
    text-align: center;
  }

  input[type="number"] {
    width: 100px;
    padding: 8px;
    margin: 5px;
  }

  button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }